.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  margin: 20px;
  box-shadow: 5px 5px 15px -1px #9b9b9b;
}

.list__item:hover {
  transform: scale(1.02);
}

.decsr {
  margin: 10px;
  text-align: center;
}

.rating {
  display: inline-block;
  color: rgb(51, 51, 50);
  font-size: 15px;
  font-weight: 600;
}

.title {
  text-align: center;
  font-size: 30px;
  color: rgb(236, 10, 10);
  text-decoration: none;
}

.subtitle {
  width: 480px;
}
